@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* FONTS */
/* font-family: 'Oswald', sans-serif; TITLES*/
/* font-family: 'Source Sans 3', sans-serif; paragraph */







  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }



body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image:url(/background.png) ;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} 

body  {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Oswald';
  /* background-color: antiquewhite; */
}


