.bg {

    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.411);
backdrop-filter: blur( 11.5px );
-webkit-backdrop-filter: blur( 11.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
background-color: #010012;
}

.simple_bg {
    background-color: #010012;
}

.glass {

    background: rgba( 1, 0, 18, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(16px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .copy {
    background-color: #010012;
    border: 1px solid rgba( 255, 255, 255, 0.18 )
  }
